body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: slategrey;
  border-radius: 0;
  border: 0;
}

.navbar-brand span {
  font-size: 23px;
  padding: 15px;
  color: #000;
  font-style: bold;
  align: left;
  text-decoration: none;
}


.navbar-title span {
  padding: 21px;
  font-size: 20px;
  font-style: bold;
  color: #000;
  align-content: center;
  width: 100%;
  border-radius: 0;
  border: 0;
}

.navbar-content {
  padding: 20px;
  font-size: 14px;
  color: #000;
  background-color: slategrey;
  border-radius: 0;
  border: 0;
  height: 1000px;
}

.navbar-content-title {
  font-size: 17px;
  color: #000;
  text-align: center;
  border-radius: 0;
  border: 0;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


/* END HEADER */

/********** Large/Medium devices **********/
@media (min-width: 768px) {
  .hide-lg-md-sm {
     visibility: hidden;
   }
}

